<!DOCTYPE html>
<html>
<head>
  <title>Auction House</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<header class="navbar navbar-expand-sm bg-dark navbar-dark">
  <img src="https://cdn4.iconfinder.com/data/icons/home-insurance-6/60/auction__house__home__insurance__building-512.png" alt="logo" style="width:60px;">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <%= link_to "", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Market",   products_path , class: "	glyphicon glyphicon-shopping-cart"%></li>
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MY Stuff
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><%= link_to "My Auction Items",my_products_products_path,class: "btn" %></li>
              <li><%= link_to "My Bids",mybids_products_path,class: "btn" %></li>
              <li><%= link_to "My Claimed Items",claimeditems_products_path,class: "btn" %></li>
              <li><%= link_to 'MY SOLD PRODUCTS', my_sold_products_products_path , class:"btn" %></li>
            </div>
          </div>
          <li>
            <%= link_to 'SELL', new_product_path , class:"btn" %>
          </li>
          <li>
            <%= link_to 'Other Sold Products', otherclaims_products_path, class: "btn" %>
          </li>
          <li><%= link_to "Account", edit_user_registration_path, class: "glyphicon glyphicon-user"  %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete,class: "glyphicon glyphicon-log-out") %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "btn " %></li>
          <li><%= link_to "Sign In", new_user_session_path, class: "btn " %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>